In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
path = '/content/gdrive/My Drive/merged_traindf.xlsx'
df = pd.read_excel(path)
df.head()

   Unnamed: 0  AGREEMENTID  ...  NO_OF_DEPENDENT  NETTAKEHOMEINCOME
0           0     11220001  ...              0.0          198375.22
1           1     11220001  ...              0.0          198375.22
2           2     11220001  ...              0.0          198375.22
3           3     11220001  ...              0.0          198375.22
4           4     11220001  ...              0.0          198375.22

[5 rows x 43 columns]

In [ ]:
# removing the unnamed: column
df.drop(df.columns[0],axis=1,inplace=True)

In [ ]:
# sorting the training data with respect to agreement id and Last receipt date
df.sort_values(by=['AGREEMENTID','LAST_RECEIPT_DATE'],ascending=[True,False],inplace=True)

In [ ]:
df.reset_index(drop=True,inplace=True)

In [ ]:
df.head(10)

   AGREEMENTID  CUSTOMERID  ...  NO_OF_DEPENDENT NETTAKEHOMEINCOME
0     11220001  12001000.0  ...              0.0         198375.22
1     11220001  12001000.0  ...              0.0         198375.22
2     11220001  12001000.0  ...              0.0         198375.22
3     11220001  12001000.0  ...              0.0         198375.22
4     11220001  12001000.0  ...              0.0         198375.22
5     11220001  12001000.0  ...              0.0         198375.22
6     11220001  12001000.0  ...              0.0         198375.22
7     11220002  12001001.0  ...              0.0         242703.98
8     11220006  12001005.0  ...              0.0          53536.21
9     11220006  12001005.0  ...              0.0          53536.21

[10 rows x 42 columns]

The dataframe is sorted in such a way that the all the agreement ids' are presented sequentially and loan repayment record for the respective agreement ids' is displayed starting with the latest record of the payment of monthly installment first and then going backwards in time,in the next rows.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374585 entries, 0 to 374584
Data columns (total 42 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   AGREEMENTID            374585 non-null  int64
 1   CUSTOMERID             374272 non-null  float64
 2   NET_DISBURSED_AMT      374585 non-null  float64
 3   INTEREST_START_DATE    374585 non-null  datetime64[ns]
 4   CURRENT_ROI            374585 non-null  float64
 5   ORIGNAL_ROI            374585 non-null  float64
 6   CURRENT_TENOR          374582 non-null  float64
 7   ORIGNAL_TENOR          374585 non-null  int64
 8   CITY                   374577 non-null  object
 9   PRE_EMI_DUEAMT         374585 non-null  float64
 10  PRE_EMI_RECEIVED_AMT   374585 non-null  float64
 11  PRE_EMI_OS_AMOUNT      374585 non-null  float64
 12  EMI_DUEAMT             374585 non-null  float64
 13  EMI_RECEIVED_AMT       374585 non-null  float64
 14  EMI_OS_AMOUNT          374585 non-null  float64
 15  EXCESS_AVAILABLE       374585 non-null  float64
 16  EXCESS_ADJUSTED_AMT    374585 non-null  float64
 17  BALANCE_EXCESS         374585 non-null  float64
 18  NET_RECEIVABLE         374585 non-null  float64
 19  OUTSTANDING_PRINCIPAL  374585 non-null  float64
 20  PAID_PRINCIPAL         374585 non-null  float64
 21  PAID_INTEREST          374585 non-null  float64
 22  MONTHOPENING           374585 non-null  float64
 23  LAST_RECEIPT_DATE      372318 non-null  datetime64[ns]
 24  LAST_RECEIPT_AMOUNT    367434 non-null  float64
 25  NET_LTV                374585 non-null  float64
 26  COMPLETED_TENURE       374585 non-null  int64
 27  BALANCE_TENURE         374582 non-null  float64
 28  DPD                    374566 non-null  float64
 29  FOIR                   374585 non-null  float64
 30  PRODUCT                374585 non-null  object
 31  SCHEMEID               374272 non-null  float64
 32  NPA_IN_LAST_MONTH      8034 non-null    object
 33  NPA_IN_CURRENT_MONTH   8080 non-null    object
 34  FORECLOSURE            374585 non-null  int64
 35  CUST_CONSTTYPE_ID      192533 non-null  float64
 36  AGE                    192533 non-null  float64
 37  SEX                    192533 non-null  object
 38  MARITAL_STATUS         192533 non-null  object
 39  QUALIFICATION          192533 non-null  object
 40  NO_OF_DEPENDENT        192533 non-null  float64
 41  NETTAKEHOMEINCOME      192533 non-null  float64
dtypes: datetime64[ns](2), float64(29), int64(4), object(7)
memory usage: 120.0+ MB

As it can be observed from the dataframe info() summary, there is a disparity in the no. of agreement ids and customer id,which suggests that some of the loan agreement ids are not assigned to any particular customer. Such agreeement ids are deeemed of no use in the process of model building because they wont have any record associated with it,hence those rows are dropped.

In [ ]:
df.dropna(subset=['CUSTOMERID'],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374272 entries, 0 to 374584
Data columns (total 42 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   AGREEMENTID            374272 non-null  int64
 1   CUSTOMERID             374272 non-null  float64
 2   NET_DISBURSED_AMT      374272 non-null  float64
 3   INTEREST_START_DATE    374272 non-null  datetime64[ns]
 4   CURRENT_ROI            374272 non-null  float64
 5   ORIGNAL_ROI            374272 non-null  float64
 6   CURRENT_TENOR          374269 non-null  float64
 7   ORIGNAL_TENOR          374272 non-null  int64
 8   CITY                   374264 non-null  object
 9   PRE_EMI_DUEAMT         374272 non-null  float64
 10  PRE_EMI_RECEIVED_AMT   374272 non-null  float64
 11  PRE_EMI_OS_AMOUNT      374272 non-null  float64
 12  EMI_DUEAMT             374272 non-null  float64
 13  EMI_RECEIVED_AMT       374272 non-null  float64
 14  EMI_OS_AMOUNT          374272 non-null  float64
 15  EXCESS_AVAILABLE       374272 non-null  float64
 16  EXCESS_ADJUSTED_AMT    374272 non-null  float64
 17  BALANCE_EXCESS         374272 non-null  float64
 18  NET_RECEIVABLE         374272 non-null  float64
 19  OUTSTANDING_PRINCIPAL  374272 non-null  float64
 20  PAID_PRINCIPAL         374272 non-null  float64
 21  PAID_INTEREST          374272 non-null  float64
 22  MONTHOPENING           374272 non-null  float64
 23  LAST_RECEIPT_DATE      372017 non-null  datetime64[ns]
 24  LAST_RECEIPT_AMOUNT    367133 non-null  float64
 25  NET_LTV                374272 non-null  float64
 26  COMPLETED_TENURE       374272 non-null  int64
 27  BALANCE_TENURE         374269 non-null  float64
 28  DPD                    374253 non-null  float64
 29  FOIR                   374272 non-null  float64
 30  PRODUCT                374272 non-null  object
 31  SCHEMEID               374272 non-null  float64
 32  NPA_IN_LAST_MONTH      8034 non-null    object
 33  NPA_IN_CURRENT_MONTH   8080 non-null    object
 34  FORECLOSURE            374272 non-null  int64
 35  CUST_CONSTTYPE_ID      192533 non-null  float64
 36  AGE                    192533 non-null  float64
 37  SEX                    192533 non-null  object
 38  MARITAL_STATUS         192533 non-null  object
 39  QUALIFICATION          192533 non-null  object
 40  NO_OF_DEPENDENT        192533 non-null  float64
 41  NETTAKEHOMEINCOME      192533 non-null  float64
dtypes: datetime64[ns](2), float64(29), int64(4), object(7)
memory usage: 122.8+ MB

In [ ]:
print(df.AGREEMENTID.nunique())
print(df.CUSTOMERID.nunique())

19731
19731

## Feature Engineering

In an attempt to solve this problem of predicting whether a particular loan, based on its historical loan repayment record,would foreclose or not,we create few lag features based on available features to convert the tabular data from a long format to a wide format.The past 6 month history for each of the loan would be considered to train the model.

lag features were created for the following predictors


*   PAID PRINCIPAL -  It would show the cumulative repayment of the principal amount
*   PAID INTEREST - It would show the cumulative repayment of the interest on the loan amount
*   OUTSTANDING EMI - the amount in monthly EMI installment which was not received
*   DAYS PAST DUE- the no. of days elapsed since the date on which previous month's installment was meant to be paid.

In [ ]:
# lag features for paid principal
for i in range(-1,-7,-1):
    t = df.groupby(['AGREEMENTID']).PAID_PRINCIPAL.shift(i)
    coln = 'PaidPrn'+str(i)
    df[coln] = t

In [ ]:
# lag features for paid interest
for i in range(-1,-7,-1):
    t = df.groupby(['AGREEMENTID']).PAID_INTEREST.shift(i)
    coln = 'PaidIntrst'+str(i)
    df[coln] = t

In [ ]:
# lag features for outstanding EMI
for i in range(-1,-7,-1):
    t = df.groupby(['AGREEMENTID']).EMI_OS_AMOUNT.shift(i)
    coln = 'EmiDue'+str(i)
    df[coln] = t

In [ ]:
# lag features for DPD
for i in range(-1,-7,-1):
    t = df.groupby(['AGREEMENTID']).DPD.shift(i)
    coln = 'DPD'+str(i)
    df[coln] = t

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374272 entries, 0 to 374584
Data columns (total 66 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   AGREEMENTID            374272 non-null  int64
 1   CUSTOMERID             374272 non-null  float64
 2   NET_DISBURSED_AMT      374272 non-null  float64
 3   INTEREST_START_DATE    374272 non-null  datetime64[ns]
 4   CURRENT_ROI            374272 non-null  float64
 5   ORIGNAL_ROI            374272 non-null  float64
 6   CURRENT_TENOR          374269 non-null  float64
 7   ORIGNAL_TENOR          374272 non-null  int64
 8   CITY                   374264 non-null  object
 9   PRE_EMI_DUEAMT         374272 non-null  float64
 10  PRE_EMI_RECEIVED_AMT   374272 non-null  float64
 11  PRE_EMI_OS_AMOUNT      374272 non-null  float64
 12  EMI_DUEAMT             374272 non-null  float64
 13  EMI_RECEIVED_AMT       374272 non-null  float64
 14  EMI_OS_AMOUNT          374272 non-null  float64
 15  EXCESS_AVAILABLE       374272 non-null  float64
 16  EXCESS_ADJUSTED_AMT    374272 non-null  float64
 17  BALANCE_EXCESS         374272 non-null  float64
 18  NET_RECEIVABLE         374272 non-null  float64
 19  OUTSTANDING_PRINCIPAL  374272 non-null  float64
 20  PAID_PRINCIPAL         374272 non-null  float64
 21  PAID_INTEREST          374272 non-null  float64
 22  MONTHOPENING           374272 non-null  float64
 23  LAST_RECEIPT_DATE      372017 non-null  datetime64[ns]
 24  LAST_RECEIPT_AMOUNT    367133 non-null  float64
 25  NET_LTV                374272 non-null  float64
 26  COMPLETED_TENURE       374272 non-null  int64
 27  BALANCE_TENURE         374269 non-null  float64
 28  DPD                    374253 non-null  float64
 29  FOIR                   374272 non-null  float64
 30  PRODUCT                374272 non-null  object
 31  SCHEMEID               374272 non-null  float64
 32  NPA_IN_LAST_MONTH      8034 non-null    object
 33  NPA_IN_CURRENT_MONTH   8080 non-null    object
 34  FORECLOSURE            374272 non-null  int64
 35  CUST_CONSTTYPE_ID      192533 non-null  float64
 36  AGE                    192533 non-null  float64
 37  SEX                    192533 non-null  object
 38  MARITAL_STATUS         192533 non-null  object
 39  QUALIFICATION          192533 non-null  object
 40  NO_OF_DEPENDENT        192533 non-null  float64
 41  NETTAKEHOMEINCOME      192533 non-null  float64
 42  PaidPrn-1              354541 non-null  float64
 43  PaidPrn-2              335226 non-null  float64
 44  PaidPrn-3              316373 non-null  float64
 45  PaidPrn-4              297982 non-null  float64
 46  PaidPrn-5              280247 non-null  float64
 47  PaidPrn-6              263356 non-null  float64
 48  PaidIntrst-1           354541 non-null  float64
 49  PaidIntrst-2           335226 non-null  float64
 50  PaidIntrst-3           316373 non-null  float64
 51  PaidIntrst-4           297982 non-null  float64
 52  PaidIntrst-5           280247 non-null  float64
 53  PaidIntrst-6           263356 non-null  float64
 54  EmiDue-1               354541 non-null  float64
 55  EmiDue-2               335226 non-null  float64
 56  EmiDue-3               316373 non-null  float64
 57  EmiDue-4               297982 non-null  float64
 58  EmiDue-5               280247 non-null  float64
 59  EmiDue-6               263356 non-null  float64
 60  DPD-1                  354523 non-null  float64
 61  DPD-2                  335208 non-null  float64
 62  DPD-3                  316355 non-null  float64
 63  DPD-4                  297964 non-null  float64
 64  DPD-5                  280229 non-null  float64
 65  DPD-6                  263338 non-null  float64
dtypes: datetime64[ns](2), float64(53), int64(4), object(7)
memory usage: 191.3+ MB

Now, The dataframe is collapsed by removing duplicates,which means every row in the dataframe now has the loan repayment record for each of the unique loans. Every row is the last transaction detail in the history of the respective loans,along with the lag features of each loan, appended at the end.

In [ ]:
cols = ['AGREEMENTID','CUSTOMERID']

In [ ]:
df.drop_duplicates(cols,inplace=True)

In [ ]:
df.head(10)

     AGREEMENTID  CUSTOMERID  NET_DISBURSED_AMT  ... DPD-4  DPD-5  DPD-6
0       11220001  12001000.0        11710107.24  ...   0.0    0.0    0.0
7       11220002  12001001.0        19290253.32  ...   NaN    NaN    NaN
8       11220006  12001005.0         3933395.00  ...   0.0    0.0    0.0
54      11220008  12001007.0        10022587.71  ...   0.0    0.0    0.0
109     11220010  12001009.0         7755937.31  ...   0.0    0.0    0.0
163     11220011  12001010.0          954408.27  ...   0.0    0.0    0.0
225     11220012  12001011.0         6605701.52  ...  56.0    0.0    0.0
287     11220014  12001013.0        32960335.26  ...   0.0    0.0    0.0
305     11220016  12001015.0         8407256.48  ...   0.0    0.0    0.0
345     11220017  12001016.0          975842.27  ...   0.0    0.0    0.0

[10 rows x 66 columns]

In [ ]:
# The distribution of target variable in training data
df.FORECLOSURE.value_counts()

0    17936
1     1795
Name: FORECLOSURE, dtype: int64

In [ ]:
df.reset_index(drop=True,inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19731 entries, 0 to 19730
Data columns (total 66 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   AGREEMENTID            19731 non-null  int64
 1   CUSTOMERID             19731 non-null  float64
 2   NET_DISBURSED_AMT      19731 non-null  float64
 3   INTEREST_START_DATE    19731 non-null  datetime64[ns]
 4   CURRENT_ROI            19731 non-null  float64
 5   ORIGNAL_ROI            19731 non-null  float64
 6   CURRENT_TENOR          19731 non-null  float64
 7   ORIGNAL_TENOR          19731 non-null  int64
 8   CITY                   19731 non-null  object
 9   PRE_EMI_DUEAMT         19731 non-null  float64
 10  PRE_EMI_RECEIVED_AMT   19731 non-null  float64
 11  PRE_EMI_OS_AMOUNT      19731 non-null  float64
 12  EMI_DUEAMT             19731 non-null  float64
 13  EMI_RECEIVED_AMT       19731 non-null  float64
 14  EMI_OS_AMOUNT          19731 non-null  float64
 15  EXCESS_AVAILABLE       19731 non-null  float64
 16  EXCESS_ADJUSTED_AMT    19731 non-null  float64
 17  BALANCE_EXCESS         19731 non-null  float64
 18  NET_RECEIVABLE         19731 non-null  float64
 19  OUTSTANDING_PRINCIPAL  19731 non-null  float64
 20  PAID_PRINCIPAL         19731 non-null  float64
 21  PAID_INTEREST          19731 non-null  float64
 22  MONTHOPENING           19731 non-null  float64
 23  LAST_RECEIPT_DATE      19664 non-null  datetime64[ns]
 24  LAST_RECEIPT_AMOUNT    19492 non-null  float64
 25  NET_LTV                19731 non-null  float64
 26  COMPLETED_TENURE       19731 non-null  int64
 27  BALANCE_TENURE         19731 non-null  float64
 28  DPD                    19730 non-null  float64
 29  FOIR                   19731 non-null  float64
 30  PRODUCT                19731 non-null  object
 31  SCHEMEID               19731 non-null  float64
 32  NPA_IN_LAST_MONTH      116 non-null    object
 33  NPA_IN_CURRENT_MONTH   116 non-null    object
 34  FORECLOSURE            19731 non-null  int64
 35  CUST_CONSTTYPE_ID      5992 non-null   float64
 36  AGE                    5992 non-null   float64
 37  SEX                    5992 non-null   object
 38  MARITAL_STATUS         5992 non-null   object
 39  QUALIFICATION          5992 non-null   object
 40  NO_OF_DEPENDENT        5992 non-null   float64
 41  NETTAKEHOMEINCOME      5992 non-null   float64
 42  PaidPrn-1              19315 non-null  float64
 43  PaidPrn-2              18853 non-null  float64
 44  PaidPrn-3              18391 non-null  float64
 45  PaidPrn-4              17735 non-null  float64
 46  PaidPrn-5              16891 non-null  float64
 47  PaidPrn-6              16154 non-null  float64
 48  PaidIntrst-1           19315 non-null  float64
 49  PaidIntrst-2           18853 non-null  float64
 50  PaidIntrst-3           18391 non-null  float64
 51  PaidIntrst-4           17735 non-null  float64
 52  PaidIntrst-5           16891 non-null  float64
 53  PaidIntrst-6           16154 non-null  float64
 54  EmiDue-1               19315 non-null  float64
 55  EmiDue-2               18853 non-null  float64
 56  EmiDue-3               18391 non-null  float64
 57  EmiDue-4               17735 non-null  float64
 58  EmiDue-5               16891 non-null  float64
 59  EmiDue-6               16154 non-null  float64
 60  DPD-1                  19315 non-null  float64
 61  DPD-2                  18853 non-null  float64
 62  DPD-3                  18391 non-null  float64
 63  DPD-4                  17735 non-null  float64
 64  DPD-5                  16891 non-null  float64
 65  DPD-6                  16154 non-null  float64
dtypes: datetime64[ns](2), float64(53), int64(4), object(7)
memory usage: 9.9+ MB

In [ ]:
print(df.NPA_IN_LAST_MONTH.unique())
print(df.NPA_IN_CURRENT_MONTH.unique())

[nan 'Yes' 0 '#N/']
[nan 'Yes' 0]

In [ ]:
df.NPA_IN_LAST_MONTH.replace({'Yes':1,'#N/':np.nan}, inplace=True)
df.NPA_IN_CURRENT_MONTH.replace({'Yes':1}, inplace=True)

In [ ]:
print(df.NPA_IN_LAST_MONTH.unique())
print(df.NPA_IN_CURRENT_MONTH.unique())

[nan  1.  0.]
[nan  1.  0.]

In [ ]:
df.head(10)

   AGREEMENTID  CUSTOMERID  NET_DISBURSED_AMT  ... DPD-4  DPD-5  DPD-6
0     11220001  12001000.0        11710107.24  ...   0.0    0.0    0.0
1     11220002  12001001.0        19290253.32  ...   NaN    NaN    NaN
2     11220006  12001005.0         3933395.00  ...   0.0    0.0    0.0
3     11220008  12001007.0        10022587.71  ...   0.0    0.0    0.0
4     11220010  12001009.0         7755937.31  ...   0.0    0.0    0.0
5     11220011  12001010.0          954408.27  ...   0.0    0.0    0.0
6     11220012  12001011.0         6605701.52  ...  56.0    0.0    0.0
7     11220014  12001013.0        32960335.26  ...   0.0    0.0    0.0
8     11220016  12001015.0         8407256.48  ...   0.0    0.0    0.0
9     11220017  12001016.0          975842.27  ...   0.0    0.0    0.0

[10 rows x 66 columns]

In [ ]:
# df.to_excel("cleaned_traindt.xlsx",float_format='%.2f',index=False)